:host ::ng-deep .p-megamenu-horizontal {
  background: #121212;
  color: #ffffff;
}

:host ::ng-deep .p-megamenu-item-link {
  color: #ffffff;
}

:host ::ng-deep .p-megamenu-item-link:hover {
  color: #121212;
  background-color: #ffffff;
}

:host ::ng-deep .p-megamenu-item-link:hover {
  border-radius: 2px;
}
