.about-page {
  margin: 10px 100px 10px 100px;
  align-items: flex-start; /* ensures children take their content height */
  gap: 1rem;
}

.card {
  width: 100%;
  margin: 10px;
}

.p-accordionpanel:not(.p-disabled).p-accordionpanel-active > .p-accordionheader:hover {
  color: #121212
}